#titulo {
    text-align: center;
    color: whitesmoke;
    background-color: black;
    /* padding: 10px; */
}

#titulo1 {
    text-align: center;
    color:darkgrey;
}

#movies {
    font-size: small;
    font-weight: bold;
    color: blue;
    text-align: start;
}

.col {
    margin: 10px;
    padding: 80px;
}

body.movies1 {
    background-color:black ;
}

#movie1 {
    background-color: darkgrey;
}

#txtmario, #txtspiderman, #txtelemental {
    font-size: 35px;
    margin-top: 250px;
}

#marioposter, #spidermanposter, #elementalposter {
    padding: 100px;
    background-color: black;
}

#movieinfo {
    background-color: black;
}

#aboutmovie, #txtmario, #txtspiderman, #txtelemental {
    color: whitesmoke;
}

.btn, .btn:hover {
    background-color: indigo;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 50px;
    color: white;
}

#btns {
    text-align: center;
}

#home {
    text-align: center;
}

.fa-house {
    color: white;
}

#div {
    background-color: black;
}