* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }


#titulo {
    text-align: center;
    color: whitesmoke;
   background-color: black;
}

/*Index*/
.navbar {
    background-color: dimgray;
}

.navbar a{
    color: #fff;
}

.navbar a:hover{
   color: none;
}

.txtlogo {
    color: whitesmoke;
    text-decoration: none;
    font-size: larger;
}

.start {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(67, 67, 67, 1) 100%);
}

#titulo1 {
    text-align: center;
    color: darkgrey;
}

.playlogo {
    width: 45x;
    height: 35px;
    margin-right: 15px;
}

.poster {
    width: 196px;
    height: 282px;
}

.poster:hover {
    transform: scale(1.2);
    filter: grayscale(80%);
}


#movies {
    font-size: medium;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.col {
    margin: 10px;
    padding: 80px;
}

body.movies1 {
    background-color: black;
}

#movie1 {
    background-color: darkgrey;
}

.btnindex {
    text-align: center;

}

.btn-3 {
    background-color: indigo;
    color: whitesmoke;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-3:hover {
    background-color: indigo;
    color: #BDB0D9;
}

.fdosite {
    text-decoration: none;
    color: whitesmoke;
}

.fdosite:hover {
    text-decoration: none;
    color: skyblue;
}
/*fin Index*/


/*Paginas Peliculas*/
#movieinfo {
    margin-left: -100px;
}


#txtposter {
    font-size: 35px;
    margin-top: 250px;
    color: whitesmoke;
}

#marioposter,
#spidermanposter,
#elementalposter,
#btfposter,
#starwarsposter,
#jokerposter,
#scarfaceposter,
#infinitywarposter {
    padding: 100px;
}

.poster4,
.poster5,
.poster6,
.poster7,
.poster8 {
    width: 509px;
    height: 755px;
}

#aboutmovie {
    color: whitesmoke;
    margin-top: 10px;
}

.btn-1 {
    background-color: indigo;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 50px;
    color: white;
}

.btn-1:hover {
    background-color: indigo;
    color: #BDB0D9;
}

.btn-2 {
    background-color: indigo;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 50px;
    color: white;
}

.btn-2:hover {
    background-color: indigo;
    color: #BDB0D9;
}

#btns {
    text-align: center;
}

#home {
    text-align: center;
}

.fa-house {
    color: white;
}

#div {
    background-color: black;
}

/*Fin Paginas Peliculas*/

/*Pagina Contacto*/

.contact {
    background-color: black;
}

.txtcontact {
    color: whitesmoke;
}

label {
    color: whitesmoke;
}

/*Fin Pagina Contacto*/