* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Roboto', sans-serif;
    background-color: #d96927;
}

/*Index*/
main {
    width: 60%;
    margin: auto;
    padding: 20px 0 0 0;
}

section {
    position: fixed;
    box-shadow: -6px -2px 25px -13px rgba(0, 0, 0, 0.15);
    width: 340px;
    height: 100%;
    top: 0;
    right: 0;
    padding: 30px;
    transition: all 0.2s;
    background-color: white;
}

section h1 {
    position: absolute;
    top: 20px;
    right: 360px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
    background: url("img/cart.png") center center no-repeat blue;
}

section h1 span {
    display: block;
    background-color: red;
    border-radius: 150px;
    padding: 5px;
    width: 30px;
    text-align: center;
    font-size: 14px;
    margin: -10px 0 0 30px;
  }

  section h3 {
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
  }

.btnAgregar,
.btnQuitar {
  color: white;
  background-color: blue;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
  border: 1px solid blue;
}

.btnAgregar:hover,
.btnQuitar:hover {
  border: 1px solid white;
}

.peliculaCarrito {
    border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    margin-bottom: 10px;
    line-height: 24px;
  }

  .peliculaCarrito h2 {
    margin-bottom: 8px;
  }

  .ocultar {
    right: -340px;
    transition: all 0.2s;
  }

  #peliculas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: auto;
  }


  .pelicula {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 10px;
  }


  .pelicula .precio {
    padding: 10px 0;
    font-size: 20px;
    background-color: red;
    display: inline-block;
    padding: 4px 10px;
    color: white;
    border-radius: 10px;
    margin-top: 4px;
  }

  .pelicula .imagen {
    display: flex;
    justify-content: center;
    min-height: 160px;
    margin: 20px 0;
  }

  .pelicula .imagen img {
    max-height: 200px;
  }

  .pelicula .btnAgregar {
    margin: auto;
    display: block;
    text-align: center;
  }

  .pelicula:hover {
    border: 1px solid black;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
  }

/*fin Index*/


/*Paginas Peliculas*/
#movieinfo {
    margin-left: -100px;
}


#txtposter {
    font-size: 35px;
    margin-top: 250px;
    color: whitesmoke;
}

#marioposter,
#spidermanposter,
#elementalposter,
#btfposter,
#starwarsposter,
#jokerposter,
#scarfaceposter,
#infinitywarposter {
    padding: 100px;
}

.poster4,
.poster5,
.poster6,
.poster7,
.poster8 {
    width: 509px;
    height: 755px;
}

#aboutmovie {
    color: whitesmoke;
    margin-top: 10px;
}

.btn-1 {
    background-color: indigo;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 50px;
    color: white;
}

.btn-1:hover {
    background-color: indigo;
    color: #BDB0D9;
}

.btn-2 {
    background-color: indigo;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 50px;
    color: white;
}

.btn-2:hover {
    background-color: indigo;
    color: #BDB0D9;
}

#home {
    text-align: center;
}

.fa-house {
    color: white;
}

#div {
    background-color: black;
}

/*Fin Paginas Peliculas*/


/*Pagina Contacto*/

.contact {
    background-color: black;
}

.txtcontact {
    color: whitesmoke;
}

label {
    color: whitesmoke;
}

/*Fin Pagina Contacto*/